@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #16031d;
  color: #daaed6;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme {
  transition: 1s all ease;
}

.light {
  background-color: white;
  color: #16031d;
}

.dark, nav{
  background-color: #16031d;
  color: #daaed6;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  animation: move 3s infinite ease alternate;
}

@keyframes move {
  from{
    transform: translateY(-10px);
  }
  to{
    transform: translateY(10px);
  }
}

.image {
  animation: moves 3s infinite ease alternate;
}

@keyframes moves {
  from{
    transform: translateY(-15px);
  }
  to{
    transform: translateY(0px) scale(1.03);
  }
}

