.container {
  width: 46px;
  height: 24px;
  border: 1.5px solid #f206bf;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  position: relative; 
  cursor: pointer;
}

.icon {
  font-size: 13px;
}

.ball {
  width: 15px;
  height: 15px;
  background-color: #f206bf;
  border-radius: 50px;
  position: absolute;
}